{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Hope - {% block title %}{% endblock %} - Embracing Ostomy Life</title>
        <link rel="icon"href="{% static 'favicon.ico' %}">
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js" integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        <style>
          body {
              padding-top: 4.5rem;
          }
        </style>
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'team_hope/tailwind_nav.html' %}
    <div class="flex justify-center m-4">
        <div class="px-8 py-6 mt-4 text-left shadow-lg"> 
          {% block content %}{% endblock %}
        </div>
      </div>
</body>
</html>
