{% extends "base.html" %}

{% block title %}Chat App{% endblock %}

{% block content %}
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="contacts-tab" data-bs-toggle="tab" href="#contacts">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats">Chats</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content mt-4">
        <div class="tab-pane fade show active" id="contacts" role="tabpanel">
            {% if contacts %}
                <ul class="list-group">
                    {% for contact in contacts %}
                        <li class="list-group-item">{{ contact.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="mt-3">You have no contacts; check back soon.</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="chats" role="tabpanel">
            {% if chats %}
                <ul class="list-group">
                    {% for chat in chats %}
                        <li class="list-group-item">
                            <strong>{{ chat.title }}</strong>
                            <p>{{ chat.preview }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="mt-3">You have no chats; message a contact to start a chat.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
