{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - Team Hope - Embracing Ostomy Life</title>
    <link rel="icon" href="{% static 'favicon.png' %}">
    <!-- Include Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script defer src="{% static 'chat/cometchatwidget.js' %}"></script>
    {% endblock %}
</head>

<body> <!-- Adding padding to the top to offset the navbar height -->
    {% include 'team_hope/bootstrap_nav.html' %}

    <div id="mainwindow" class="d-flex justify-content-center m-4">
        <div id="cometchat"></div>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                CometChatWidget.init({
                    "appID": "{{ COMET_APP_ID }}",
                    "appRegion": "{{ COMET_REGION }}",
                    "authKey": "{{ COMET_AUTH_KEY }}"
                }).then(response => {
                    console.log("Initialization completed successfully");
                    const windowHeight = window.innerHeight;
                    const bodyWidth = document.body.offsetWidth;
                    //You can now call login function.
                    CometChatWidget.login({
                        "uid": '{{ UID }}'
                    }).then(response => {
                        CometChatWidget.launch({
                            "widgetID": "e86e67eb-f78c-4d97-8f81-1136dfaec6f4",
                            "target": "#cometchat",
                            "roundedCorners": "true",
                            "height": `${windowHeight * 0.85}px`,
                            "width": `${bodyWidth * 0.9}px`,
                            "defaultID": '{{ UID }}', //default UID (user) or GUID (group) to show,
                            "defaultType": 'user' //user or group
                        });
                    }, error => {
                        console.log("User login failed with error:", error);
                        //Check the reason for error and take appropriate action.
                    });
                }, error => {
                    console.log("Initialization failed with error:", error);
                    //Check the reason for error and take appropriate action.
                });
            });
        </script>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>