{% extends "base.html" %}
{% load restaurant_extras %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div id="get-target">
        <div class="d-flex align-items-baseline justify-content-center">
            <h3 class="text-center fw-bold">Welcome, {{ user.get_full_name }}</h3>
        </div>
        <div button hx-get="/register/user_type" hx-target="#get-target" class="d-flex align-items-baseline justify-content-center">
            {% if not user_profile_is_complete %}
            <button class="btn btn-primary mt-4">Complete your profile.</button>
            {% else %}
            <button class="btn btn-primary mt-4">Profile Complete! Redo?</button>
            {% endif %}
        </div>
        <div class="d-flex align-items-baseline justify-content-center">
            {% if not chat_enabled %}
            <button class="btn btn-primary mt-4" disabled>Team Hope Chat (coming soon)</button>
            {% else %}
            <a href="/chat">
                <button class="btn btn-primary mt-4">Team Hope Chat</button>
            </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
