:root {
    --brand-green-seafoam: #BFE89F;
    /* Sage */
    --brand-teal-ocean: #196E77;
    /* Ocean Teal */
    --brand-orange-salmon: #FF8653;
    /* Salmon */
    --brand-purple-royal: #5C33C2;
    /* Royal Purple */
    --brand-blue-sky: #C0F1F7;
    /* Sky */
    --brand-pink-bubblegum: #FFABD6;
    /* Bubblegum */
    --brand-yellow-sunflower: #FFD800;
    /* Sunflower */
    --brand-black-charcoal: #282828;
    /* Charcoal */
    --brand-grey-air: #EAEAEA;
    /* Air */
    --brand-coral-soft: #F96744;
    /* Soft Coral */
    --brand-blue-pop: #00A2D0;
    /* Pop Blue */

    /* Define your font */
    --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --form-header-font: 'Segoe UI Bold', sans-serif;
    --form-field-font: 'Segoe UI SemiBold', sans-serif;
}

/* Base Styles */
body {
    background-color: var(--brand-grey-air);
    color: var(--brand-black-charcoal);
    font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--brand-coral-soft);
}

a {
    color: var(--brand-teal-ocean);
}

a:hover {
    color: var(--brand-orange-salmon);
}

.label {
    font-family: var(--form-header-font);
    font-size: 1.5rem;
    color: var(--brand-black-charcoal);
    padding-right: 10px;
}

label {
    font-family: var(--form-header-font);
    font-size: 1.5rem;
    color: var(--brand-black-charcoal);
    padding-right: 10px;
}

/* Navbar */
.custom-navbar {
    background-color: var(--brand-green-seafoam);
}

.custom-navbar img {
    max-width: 100%;
}

/* Logout Button */
.custom-logout-button {
    color: white;
    background-color: var(--brand-coral-soft);
    padding: 12px 24px;
    font-size: 18px;
    border-color: var(--brand-coral-soft);
    cursor: pointer;
}



.custom-logout-button:hover {
    background-color: var(--brand-orange-salmon);
    border-color: var(--brand-orange-salmon);
}

/* Buttons */
.btn-primary {
    background-color: var(--brand-coral-soft);
    border-color: var(--brand-coral-soft);
    color: var(--brand-grey-air);
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: var(--brand-orange-salmon);
    border-color: var(--brand-orange-salmon);
}

/* Form Styles */
.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: var(--brand-teal-ocean);
}


.form-label {
    font-family: var(--form-header-font);
    font-size: 1.5rem;
    color: var(--brand-black-charcoal);
}

.form-control {
    font-family: var(--form-field-font);
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

form .row>.col-md-6,
form .row>.col-md-12 {
    margin-bottom: 10px;
}

.container h2 {
    color: var(--brand-coral-soft);
    margin-bottom: 30px;
}

/* Custom Date Picker Styles */
input[type="date"] {
    appearance: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

input[type="date"]:focus {
    outline: none;
    border-color: var(--brand-teal-ocean);
}

/* Improved Checkbox Appearance */
.form-check {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

.form-check-label {
    margin-left: 8px;
    font-size: 16px;
    font-weight: normal;
}

.textarea-short {
    height: 100px;
    /* Adjust this value to control the height */
    resize: vertical;
    /* Allow users to resize vertically */
}

/* Custom Checkbox Design */
.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox+.form-check-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.custom-checkbox+.form-check-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--brand-teal-ocean);
    border-radius: 3px;
    background-color: #fff;
}

.custom-checkbox:checked+.form-check-label:before {
    background-color: var(--brand-teal-ocean);
    border-color: var(--brand-teal-ocean);
}

.custom-checkbox:checked+.form-check-label:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Profile Picture Container */
.profile-picture-container {
    display: flex;
    align-items: center;
}

.profile-picture-container input[type="file"] {
    flex: 1;
}

#profile-picture-preview {
    max-width: 150px;
    display: block;
    margin-left: 20px;
}

/* Adjusted column widths for smaller form elements */
.row .col-md-3 {
    padding-right: 10px;
    padding-left: 10px;
}

/* Hobbies and Bio Styling */
.hobbies-and-bio .col-md-6 {
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .navbar.custom-navbar>.container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .navbar.custom-navbar>.container .navbar-collapse {
        position: absolute;
        left: auto;
        right: 10px;
        top: 60px;
    }
}