<form method="POST">
    <h2 class="text-center">Sign Up</h2>
    {% csrf_token %}
    
    <div class="form-group mb-3">
        <div class="form-check">
            <input class="form-check-input custom-checkbox" type="checkbox" id="subscribe_updates" name="subscribe_updates">
            <label class="form-check-label" for="subscribe_updates">
                Subscribe to emails (optional)
            </label>
        </div>
    </div>

    <div class="form-group mb-3">
        <div class="form-check">
            <input class="form-check-input custom-checkbox" type="checkbox" id="subscribe_recovery" name="subscribe_recovery">
            <label class="form-check-label" for="subscribe_recovery">
                Subscribe to 30-day recovery program (optional)
            </label>
        </div>
    </div>

    <div class="form-group mb-3">
        <div class="form-check">
            <input class="form-check-input custom-checkbox" type="checkbox" id="certify" name="certify" required>
            <label class="form-check-label" for="certify">
                I certify that all my registration information is current and correct.
            </label>
        </div>
    </div>
    
    <div class="d-grid">
        <input class="btn btn-primary" type="submit" value="Register" />
    </div>
</form>
