<form hx-post="register/journey">
    <h3 class="text-center fw-bold">Optional: Is there anything you want to share about your ostomy journey?</h3>

    <div class="mb-3">
        <textarea id="journey" name="journey" class="form-control" maxlength="4000" rows="5" placeholder="Share your journey here..."></textarea>
    </div>

    <div class="d-grid gap-2">
        <button hx-target="#get-target" hx-post="/register/journey" class="btn btn-primary">Share</button>
        <button hx-target="#get-target" hx-get="/register/journey" class="btn btn-secondary">No thanks</button>
    </div>
</form>
