<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <div id="get-target" class="d-flex flex-column align-items-center">
            <h3 class="w-100 text-center font-weight-bold">Which one best describes you?</h3>
            <div class="w-100 my-3"></div>
            <button hx-target="#get-target" hx-get="/register/register_type?type=0" class="btn btn-primary btn-block mb-3">Considering Surgery</button>
            <button hx-target="#get-target" hx-get="/register/register_type?type=1" class="btn btn-primary btn-block mb-3">Ostomate</button>
            <button hx-target="#get-target" hx-get="/register/register_type?type=2" class="btn btn-primary btn-block mb-3">Caregiver</button>
            <button hx-target="#get-target" hx-get="/register/register_type?type=3" class="btn btn-primary btn-block mb-3">Medical Professional</button>
        </div>
    </div>
</div>
